@import "tailwindcss";

@theme {
  --color-primary-500: oklch(0.627 0.194 282.684);
  --color-primary-600: oklch(0.518 0.253 283.477);
  --font-inter: 'Inter', sans-serif;

  /* Custom Animations */
  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}